In [1]:
# to subpress warning
import warnings
warnings.filterwarnings("ignore")


# The OS module in Python provides functions for interacting with the operating system.
import os

# Matplotlib is a data visualization and graphical plotting library for Python.
import matplotlib.pyplot as plt

# seaborn is alse a data visualization and graphical plotting library for Python.
import seaborn as sn

# Used to display markdown,image,control (frontend utilities)
from IPython.display import display, clear_output

# NumPy is a Python library used for working with arrays
import numpy as np

import pandas as pd

import pickle

# used to split dataset(features and target) into test and test
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report

# shuffle the dataset for a even mixture of each type of feature and target.it gives better result.
from sklearn.utils import shuffle

# Computer vision library
import cv2

# Used to manipulate different parts of the Python runtime environment.
import sys

# An open-source framework for building pipelines to perform computer vision inference.
import mediapipe as mp

# Time module provide time-related functions
import time

# Used to generate random numbers
import random

from math import log10, sqrt
# for mathematical operations

# Keras is a library that provides a Python interface for artificial neural networks. 
# Keras acts as an interface for the TensorFlow library.
import keras

# 1. Keras layers are the building blocks of the Keras library that can be stacked together for creating neural network models.
# 2. Keras Conv2D creates a 2D convolution kernel that is wind with layers input which helps produce a tensor of outputs.
# 3. maxpooling2D Downsamples the input along its spatial dimensions by taking the maximum value over an input window for each channel of the input. 
# 4 .Flattening is converting the data into a 1-dimensional array for inputting it to the next layer. 
# 5 .Dropout regularization technique for reducing overfitting in neural networks by preventing complex co-adaptations on training data.
# 6. Batch normalization is a technique for training very deep neural networks that standardizes the inputs to a layer for each mini-batch. 
from tensorflow.keras.layers import Conv2D, MaxPool2D, Flatten, Dense, Dropout, BatchNormalization

#  Model groups layers into an object with training and inference features.
from tensorflow.keras.models import Model

import tensorflow as tf

# Optimizers are the extended class, which include added information to train a specific model.  
# The optimizers are used for improving speed and performance for training a specific model.
# Adam is a stochastic gradient descent method based on adaptive estimation of first-order and second-order moments.
from tensorflow.keras.optimizers import Adam

# importing Sqquential model
from tensorflow.keras import Sequential

# tensorflow.keras.callbacks is used to visualize training of a model.
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint

In [2]:
# GPU Info 
try:
    import GPUtil
except:
    !pip install GPUtil
    import GPUtil

    
# check physical computing devices
device=tf.config.experimental.list_physical_devices()
for i in device:
    print(i)
if len(device)>1:
    # find GPU details
    print("="*20, "GPU Details", "="*20)
    gpus = GPUtil.getGPUs()
    for gpu in gpus:
        print(gpu_id,gpu.name, gpu.driver,gpu.memoryTotal,gpu.temperature)

PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')

In [3]:
PATH=r"D:/Image_datasets/asl_dataset"

In [4]:
# Loading data from CSV and preprocessing
def load_CSV(dataset="dataset.csv"):
    import pandas as pd
    df = pd.read_csv(dataset,header=None,index_col=None)
    
    return df
df1=load_CSV()
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,0/hand1_0_bot_seg_1_cropped.jpeg,Right,123,133,136,130,154,117,179,111,...,66,155,24,216,34,248,51,268,64,0
1,0/hand1_0_bot_seg_2_cropped.jpeg,Right,129,107,141,113,164,100,201,92,...,56,155,6,206,13,234,31,253,45,0
2,0/hand1_0_bot_seg_3_cropped.jpeg,Right,125,102,141,92,158,76,189,70,...,69,138,30,186,28,215,42,236,54,0
3,0/hand1_0_bot_seg_4_cropped.jpeg,Right,141,122,150,133,157,136,164,145,...,91,206,12,258,32,280,58,293,78,0
4,0/hand1_0_bot_seg_5_cropped.jpeg,Left,135,152,153,148,174,123,196,101,...,80,160,32,219,45,247,65,265,81,0

In [51]:
unique_hand=df1[1].unique()
unique_sign=df1[44].unique()
print(unique_hand)
print(unique_sign)
print(df1[1].value_counts())
print(df1[44].value_counts())

['Right' 'Left']
['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h'
 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r' 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']
Left     2448
Right      67
Name: 1, dtype: int64
1    70
2    70
3    70
0    70
r    70
5    70
f    70
y    70
q    70
6    70
a    70
u    70
l    70
p    70
g    70
w    70
x    70
o    70
c    70
e    70
j    70
n    70
b    70
d    70
z    70
h    70
7    70
8    70
s    70
m    70
4    70
i    70
v    70
9    70
k    70
t    65
Name: 44, dtype: int64

In [52]:
df = pd.get_dummies(df1, columns = [1, 44])
df = df.sample(frac = 1)
df.columns

Index([        0,         2,         3,         4,         5,         6,
               7,         8,         9,        10,        11,        12,
              13,        14,        15,        16,        17,        18,
              19,        20,        21,        22,        23,        24,
              25,        26,        27,        28,        29,        30,
              31,        32,        33,        34,        35,        36,
              37,        38,        39,        40,        41,        42,
              43,  '1_Left', '1_Right',    '44_0',    '44_1',    '44_2',
          '44_3',    '44_4',    '44_5',    '44_6',    '44_7',    '44_8',
          '44_9',    '44_a',    '44_b',    '44_c',    '44_d',    '44_e',
          '44_f',    '44_g',    '44_h',    '44_i',    '44_j',    '44_k',
          '44_l',    '44_m',    '44_n',    '44_o',    '44_p',    '44_q',
          '44_r',    '44_s',    '44_t',    '44_u',    '44_v',    '44_w',
          '44_x',    '44_y',    '44_z'],
      dtype='object')

In [55]:
filenames=df[0]
filenames

802       b/hand2_b_dif_seg_3_cropped.jpeg
2202     v/hand2_v_left_seg_3_cropped.jpeg
244       3/hand2_3_dif_seg_5_cropped.jpeg
1992      s/hand2_s_dif_seg_3_cropped.jpeg
1947      r/hand4_r_bot_seg_3_cropped.jpeg
                       ...
1163    g/hand2_g_right_seg_4_cropped.jpeg
2391    y/hand1_y_right_seg_2_cropped.jpeg
983       e/hand1_e_bot_seg_4_cropped.jpeg
1693     o/hand1_o_left_seg_4_cropped.jpeg
1173      g/hand3_g_dif_seg_4_cropped.jpeg
Name: 0, Length: 2515, dtype: object

In [54]:
cols=list(range(1,45))
features=df[df.columns[cols]]
features

,2,3,4,5,6,7,8,9,10,11,...,36,37,38,39,40,41,42,43,1_Left,1_Right
802,194,360,244,314,262,238,218,187,168,171,...,143,208,137,156,136,119,134,86,1,0
2202,213,371,260,324,279,260,238,215,187,201,...,134,227,111,183,129,195,147,220,1,0
244,157,374,222,328,258,249,286,192,317,159,...,89,240,87,200,110,232,127,260,1,0
1992,189,320,262,254,292,154,277,61,226,26,...,106,136,119,78,142,121,143,154,1,0
1947,197,360,245,317,263,266,231,217,200,175,...,132,219,126,179,145,215,161,248,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,342,257,333,191,283,125,222,97,174,109,...,196,275,162,278,201,273,229,264,1,0
2391,150,367,220,331,283,241,325,164,368,117,...,69,204,52,127,44,88,40,48,1,0
983,178,371,256,319,301,238,253,180,181,171,...,95,171,79,98,98,116,115,155,1,0
1693,148,349,221,273,258,204,293,160,302,123,...,129,162,184,84,244,86,279,110,1,0
1173,354,241,352,181,314,127,263,106,215,122,...,193,272,162,266,205,264,225,260,1,0

In [56]:
cols=["44_"+x for x in unique_sign]
targets=df[cols]
targets

,44_0,44_1,44_2,44_3,44_4,44_5,44_6,44_7,44_8,44_9,...,44_q,44_r,44_s,44_t,44_u,44_v,44_w,44_x,44_y,44_z
802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
244,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1992,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1947,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
# the data for training and the remaining 10% for testing
train_x,test_x,train_y,test_y,trainFilenames,testFilenames = train_test_split(features, targets, filenames, test_size=0.10,random_state=42)

In [61]:
print(len(train_x),len(test_x))
print(len(train_y), len(test_y))
print(len(trainFilenames), len(testFilenames))
print(train_x.shape)
print(train_y.shape)

2263 252
2263 252
2263 252
(2263, 44)
(2263, 36)

In [62]:
# KPD23 - Key Point Detection
def kpd23():
    # Create model here
    model = Sequential()
    model.add(Dense(40, input_dim = 44, activation = 'relu')) # Rectified Linear Unit Activation Function
    model.add(Dense(40, activation = 'relu'))
    model.add(Dense(36, activation = 'softmax')) # Softmax for multi-class classification
    # Compile model here
    model.compile(loss = 'sparse_categorical_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
    
    return model

In [63]:
model=kpd23()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 40)                1800

 dense_1 (Dense)             (None, 40)                1640

 dense_2 (Dense)             (None, 36)                1476

=================================================================
Total params: 4,916
Trainable params: 4,916
Non-trainable params: 0
_________________________________________________________________

In [67]:
EPOCH=60
BATCH_SIZE=50

history = model.fit(train_x, train_y, epochs=EPOCH, batch_size = BATCH_SIZE)

Epoch 1/60
46/46 [==============================] - 0s 9ms/step - loss: 0.1244 - accuracy: 0.9487
Epoch 2/60
46/46 [==============================] - 0s 8ms/step - loss: 0.1367 - accuracy: 0.9426: 0s - loss: 0.1928 - accura
Epoch 3/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1136 - accuracy: 0.9501
Epoch 4/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1295 - accuracy: 0.9443
Epoch 5/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1057 - accuracy: 0.9607
Epoch 6/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1217 - accuracy: 0.9505
Epoch 7/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1181 - accuracy: 0.9532
Epoch 8/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1202 - accuracy: 0.9536
Epoch 9/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1083 - accuracy: 0.9518
Epoch 10/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0954 - accuracy: 0.9616
Epoch 11/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1362 - accuracy: 0.9501
Epoch 12/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1289 - accuracy: 0.9483
Epoch 13/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1191 - accuracy: 0.9576
Epoch 14/60
46/46 [==============================] - 0s 7ms/step - loss: 0.2210 - accuracy: 0.9271
Epoch 15/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1748 - accuracy: 0.9231
Epoch 16/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1224 - accuracy: 0.9505
Epoch 17/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1113 - accuracy: 0.9527
Epoch 18/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1037 - accuracy: 0.9536
Epoch 19/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1654 - accuracy: 0.9333
Epoch 20/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1763 - accuracy: 0.9319
Epoch 21/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1334 - accuracy: 0.9456
Epoch 22/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1243 - accuracy: 0.9452
Epoch 23/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1145 - accuracy: 0.9540
Epoch 24/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1130 - accuracy: 0.9589
Epoch 25/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1101 - accuracy: 0.9536
Epoch 26/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0869 - accuracy: 0.9651
Epoch 27/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0948 - accuracy: 0.9624
Epoch 28/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1010 - accuracy: 0.9593
Epoch 29/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1036 - accuracy: 0.9580
Epoch 30/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1071 - accuracy: 0.9576
Epoch 31/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0875 - accuracy: 0.9682
Epoch 32/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1946 - accuracy: 0.9306
Epoch 33/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1212 - accuracy: 0.9505
Epoch 34/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1128 - accuracy: 0.9501
Epoch 35/60
46/46 [==============================] - 0s 7ms/step - loss: 0.1007 - accuracy: 0.9598
Epoch 36/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1171 - accuracy: 0.9532
Epoch 37/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1494 - accuracy: 0.9403
Epoch 38/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1114 - accuracy: 0.9545
Epoch 39/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0992 - accuracy: 0.9638
Epoch 40/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1700 - accuracy: 0.9364
Epoch 41/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1023 - accuracy: 0.9545
Epoch 42/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1113 - accuracy: 0.9532
Epoch 43/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1387 - accuracy: 0.9434
Epoch 44/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1271 - accuracy: 0.9505
Epoch 45/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1523 - accuracy: 0.9421
Epoch 46/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1013 - accuracy: 0.9567
Epoch 47/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0802 - accuracy: 0.9633
Epoch 48/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0860 - accuracy: 0.9580
Epoch 49/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1077 - accuracy: 0.9563
Epoch 50/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0894 - accuracy: 0.9638
Epoch 51/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0853 - accuracy: 0.9646
Epoch 52/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0820 - accuracy: 0.9638
Epoch 53/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1113 - accuracy: 0.9545
Epoch 54/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1088 - accuracy: 0.9532
Epoch 55/60
46/46 [==============================] - 0s 6ms/step - loss: 0.0797 - accuracy: 0.9669
Epoch 56/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1017 - accuracy: 0.9593
Epoch 57/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1356 - accuracy: 0.9514
Epoch 58/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1422 - accuracy: 0.9439
Epoch 59/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1119 - accuracy: 0.9514
Epoch 60/60
46/46 [==============================] - 0s 6ms/step - loss: 0.1313 - accuracy: 0.9461

In [68]:
model.save("./model.h5", save_format="h5")

In [115]:
test_object={
    "test_x":test_x,
    "test_y":test_y,
    "testFilenames":testFilenames,
    "unique_sign":unique_sign
}

with open('test_data.pkl', 'wb') as f:
        pickle.dump(test_object, f)

In [118]:
test_x

,2,3,4,5,6,7,8,9,10,11,...,36,37,38,39,40,41,42,43,1_Left,1_Right
137,219,337,249,285,260,224,222,176,177,156,...,138,200,116,161,132,177,146,199,1,0
2228,163,357,210,317,226,272,200,217,154,194,...,118,226,113,175,129,198,140,228,1,0
2463,264,380,286,316,269,238,209,212,156,219,...,134,280,113,280,146,298,170,303,1,0
1016,174,315,256,300,304,208,279,137,211,144,...,112,143,108,79,133,91,144,132,1,0
816,182,354,240,306,264,231,224,172,174,162,...,142,197,138,145,139,109,141,78,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2281,210,358,248,307,246,232,192,191,142,181,...,141,216,130,175,148,197,162,227,1,0
2122,195,376,249,328,264,254,230,204,184,176,...,136,225,134,179,149,212,157,244,1,0
1808,374,175,334,182,260,195,196,227,150,261,...,211,188,169,223,162,253,163,277,1,0
2245,203,353,231,307,230,236,172,195,126,177,...,151,223,137,182,149,208,158,239,1,0
1454,216,374,257,331,267,243,242,177,241,122,...,122,261,150,253,178,295,186,316,1,0